.customers__list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	fill: var(--icon-color-grey);
	cursor: pointer;
	&--client {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid var(--customers-border-grey);
		border-radius: 4px;
		width: 170px;
		height: 92px;
	}
	&--client:focus,
	&--client:hover {
		border: 1px solid var(--hover-color-blue);
		fill: var(--hover-color-blue);
		transition: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
}
