.customers__list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	fill: var(--icon-color-grey);
	cursor: pointer;
	&--client {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid var(--customers-border-grey);
		border-radius: 4px;
		width: 170px;
		height: 92px;
		&:focus,
		&:hover {
			border: 1px solid var(--hover-color-blue);
			fill: var(--hover-color-blue);
			transition: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		}
	}
}
.our-customers {
	color: var(--text-color-black);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 50px;
}
