.ourperks {
	padding-top: 94px;
	padding-bottom: 0px;
	&__list {
		display: flex;
		justify-content: center;
		flex-direction: row;
		gap: 30px;
	}
}
.perk {
	display: flex;
	justify-content: center;
	background-color: var(--lorem-images);
	border-radius: 4px;
	margin-bottom: 30px;
	&--icon {
		margin: 25px 100px;
	}
	&--name {
		color: var(--text-color-black);
		font-weight: 700;
		font-size: 14px;
		line-height: 1.1;
		letter-spacing: 0.03em;
		padding-bottom: 10px;
	}
	&--description {
		color: var(--text-color-grey);
		font-size: 14px;
		line-height: 1.7;
		letter-spacing: 0.03em;
	}
}
