.filter-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 50px;
	gap: 8px;
	&__button {
		font-weight: 500;
		font-size: 16px;
		line-height: 1.6;
		background-color: var(--background-color-white);
		color: var(--text-color-black);
		border: 1px;
		border-radius: 4px;
		letter-spacing: 0.03em;
		padding: 6px 20px;
		&:focus,
		&:hover {
			background-color: var(--hover-color-blue);
			color: var(--text-color-white);
			cursor: pointer;
			box-shadow: 0px 4px 4px 0px var(--box-shadow);
			transition: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		}
	}
}
.project {
	cursor: pointer;
	&:hover .project__card--description {
		transform: translateY(0%);
		transition: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		background-color: var(--project-description-hover);
	}
	&__card {
		position: relative;
		overflow: hidden;
		&--description {
			color: var(--text-color-white);
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 1.55;
			letter-spacing: 0.03em;
			padding: 49px 24px;
			position: absolute;
			transform: translateY(100%);
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			&:hover {
				transform: translateY(0%);
				transition: 250ms;
				transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
				background-color: var(--project-description-hover);
			}
		}
	}
	&--set {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		gap: 30px;
	}
	&__figcaption {
		color: var(--text-color-grey);
		font-weight: 400;
		font-size: 16px;
		line-height: 1.8;
		letter-spacing: 0.03em;
		padding: 24px 20px;
		border-right: 1px solid var(--project-border-white);
		border-bottom: 1px solid var(--project-border-white);
		border-left: 1px solid var(--project-border-white);
		&--name {
			color: var(--text-color-black);
			font-weight: 700;
			font-size: 18px;
			line-height: 2;
			letter-spacing: 0.06em;
		}
		color: var(--text-color-grey);
		font-weight: 400;
		font-size: 16px;
		line-height: 1.8;
		letter-spacing: 0.03em;
	}
}
